*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

#title{
    background-color: cornflowerblue;
    color: white;

}

#main{
    background-color: yellow;
    color: cornflowerblue;

}

#end{
    background-color: darkslategray;
    color: white;
}

section h1{
    font-size: 90px;
}

section p{
    font-size: 25px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

nav{
    font-size: 50px;

}

nav a:hover{
    color: white;
}

